body{
    /* Set line height to 1.5 times the font size
    and use the OS's UI font as the website font
    */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    padding: 20px;
    margin: 0 auto;
}

img {
  max-width: 100%;
}

html {
  --color-accent: oklch(65% 50% 0);
  accent-color: var(--color-accent);
}

nav {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em 0;
}

/* Current page link */
nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: calc(0.5em - 0.4em);
}

/* Hover effect using accent color */
nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: calc(0.5em - 0.4em);
}

