body{
    /* Set line height to 1.5 times the font size
    and use the OS's UI font as the website font
    */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    padding: 20px;
    margin: 0 auto;
}

img {
  max-width: 100%;
}
